@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0; }

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0; }

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  margin: 0; }

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none; }

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto; }

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block; }

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit; }

@font-face {
  font-family: "fontaafeb23794c0546aa78e6d11e49ef908";
  src: url("https://nomail.com.ua/files/eot/aafeb23794c0546aa78e6d11e49ef908.eot?#iefix") format("embedded-opentype"), url("https://nomail.com.ua/files/woff/aafeb23794c0546aa78e6d11e49ef908.woff") format("woff"), url("https://nomail.com.ua/files/woff2/aafeb23794c0546aa78e6d11e49ef908.woff2") format("woff2"); }

@font-face {
  font-family: "GothamPro";
  src: local("GothamPro"), url("https://nomail.com.ua/files/woff/aafeb23794c0546aa78e6d11e49ef908.woff") format("woff"); }

/*````````````````````````````````` noMail.com.ua - Каталог шрифтов ```````````````````````````````````````*/
#gothampro {
  font-family: "GothamPro"; }

.fontaafeb23794c0546aa78e6d11e49ef908 {
  font-family: "fontaafeb23794c0546aa78e6d11e49ef908"; }

@font-face {
  font-family: 'fontdd3d9ca53a246950706e94726bb1403e';
  src: url("https://nomail.com.ua/files/eot/dd3d9ca53a246950706e94726bb1403e.eot?#iefix") format("embedded-opentype"), url("https://nomail.com.ua/files/woff/dd3d9ca53a246950706e94726bb1403e.woff") format("woff"), url("https://nomail.com.ua/files/woff2/dd3d9ca53a246950706e94726bb1403e.woff2") format("woff2"); }

@font-face {
  font-family: 'GothamPro-Medium';
  src: local("GothamPro-Medium"), url("https://nomail.com.ua/files/woff/dd3d9ca53a246950706e94726bb1403e.woff") format("woff"); }

/*````````````````````````````````` noMail.com.ua - Каталог шрифтов ```````````````````````````````````````*/
#gothampromedium {
  font-family: 'GothamPro-Medium'; }

.fontdd3d9ca53a246950706e94726bb1403e {
  font-family: 'fontdd3d9ca53a246950706e94726bb1403e'; }

.container {
  width: 945px;
  margin-left: auto;
  margin-right: auto; }

.logo-panel {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 35px; }
  .logo-panel img {
    width: 38px;
    height: 40px; }

.logo-panel__svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.logo-panel__text {
  padding-left: 18px; }

.panel__text_logo {
  font-size: 20px;
  font-family: 'GothamPro-Medium', sans-serif;
  color: #373737;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.1;
  text-align: left; }

.panel__text_text {
  font-size: 11px;
  font-family: "GothamPro", sans-serif;
  color: #969696;
  line-height: 2;
  text-align: left; }

.logo-panel__phone {
  position: absolute;
  right: 480px; }

.panel__phone {
  font-size: 18px;
  font-family: 'GothamPro-Medium', sans-serif;
  color: #333333;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.222;
  text-align: right; }

.logo-panel__btn {
  border-width: 2px;
  border-color: #333333;
  border-style: solid;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 9px;
  padding-bottom: 9px;
  text-decoration: none;
  font-size: 12px;
  font-family: 'GothamPro-Medium', sans-serif;
  color: #333333;
  line-height: 1.833;
  text-align: right;
  -webkit-transition: background-color .2s linear;
  -o-transition: background-color .2s linear;
  transition: background-color .2s linear;
  margin-bottom: 13px; }

.logo-panel__btn:hover {
  background-color: #000;
  color: #fff;
  font-size: 12px;
  font-family: 'GothamPro-Medium', sans-serif;
  line-height: 1.833;
  text-align: right; }

.header_nav__banner {
  height: 550px;
  width: 100%;
  background-color: #303030;
  background: url("../img/big-banner.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 52px;
  position: relative; }

.header-nav__panel {
  width: 942px;
  height: 65px;
  background: #ffcc00;
  padding-left: 60px;
  padding-right: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: absolute;
  top: -32px; }

.header-nav__link {
  text-decoration: none;
  font-size: 14px;
  font-weight: 900;
  font-family: 'GothamPro-Medium', sans-serif;
  color: black;
  line-height: 1.571;
  text-align: center; }

.header-nav__link:hover {
  text-decoration: underline; }

.header-text {
  direction: block;
  height: 250px;
  text-align: left;
  padding-top: 140px; }

.header-title {
  color: #fff;
  font-size: 36px;
  font-family: 'GothamPro-Medium', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1.2; }

.header-subtitle {
  padding-top: 45px;
  font-size: 14px;
  font-family: "GothamPro", sans-serif;
  color: white;
  line-height: 1.571;
  text-align: left; }

.header-banner__link {
  margin-top: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .header-banner__link p {
    padding-top: 18px;
    font-size: 12px;
    font-family: "GothamPro", sans-serif;
    color: white;
    line-height: 1.833; }
  .header-banner__link a {
    padding-top: 18px;
    padding-left: 15px;
    font-size: 12px;
    font-family: "GothamPro", sans-serif;
    color: white;
    line-height: 1.833;
    -webkit-transition: background-color .2s linear;
    -o-transition: background-color .2s linear;
    transition: background-color .2s linear; }
  .header-banner__link a:hover {
    text-decoration: none; }

.banner-link__btn {
  background-color: #ffd200;
  width: 202px;
  height: 52px;
  border: none;
  outline: 0;
  cursor: pointer;
  font-size: 12px;
  font-family: 'GothamPro-Medium', sans-serif;
  color: #0d0d0d;
  line-height: 1.833;
  font-weight: 900;
  -webkit-transition: background-color .2s linear;
  -o-transition: background-color .2s linear;
  transition: background-color .2s linear;
  margin-right: 34px; }

.banner-link__btn:hover {
  background-color: #ffffcd; }

.product-cards {
  margin-top: 80px; }

.product-cards-title {
  text-align: center;
  font-size: 20px;
  font-family: "GothamPro", sans-serif;
  color: #292929;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  margin-bottom: 60px; }

.product-cards__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.product-cards__item {
  border: 1px solid #f6f6f6;
  height: 470px;
  width: 300px; }

.product-cards__img img {
  margin-top: 38px;
  margin-left: 24px; }

.size_img-1 {
  padding-bottom: 28px; }

.size_img-2 {
  padding-bottom: 16px; }

.product-cards__subtitle {
  padding-top: 32px;
  padding-bottom: 25px;
  font-size: 15px;
  font-family: "GothamPro", sans-serif;
  color: #292929;
  line-height: 1.2;
  text-align: center;
  text-decoration: underline;
  -webkit-text-decoration-color: rgba(98, 98, 98, 0.2);
  text-decoration-color: rgba(98, 98, 98, 0.2); }

.product-cards__text {
  width: 280px;
  height: 60px;
  padding-left: 30px;
  padding-right: 30px; }
  .product-cards__text p {
    font-family: "GothamPro", sans-serif;
    font-size: 13px;
    font-weight: 300;
    color: #626262;
    line-height: 1.2;
    text-align: center; }

.product-cards__cents {
  margin-top: 32px;
  margin-bottom: 32px;
  font-size: 16px;
  font-family: "Gotham Pro";
  color: #0f0f0f;
  line-height: 1.2;
  text-align: center; }

.product-cards__link {
  background-color: #ffd200;
  padding: 20px 57px;
  margin-left: 60px;
  margin-bottom: 35px;
  font-size: 12px;
  font-family: "Gotham Pro";
  color: #0d0d0d;
  line-height: 1.833;
  text-decoration: none;
  -webkit-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: .8s;
  -o-transition-duration: .8s;
  transition-duration: .8s; }
  .product-cards__link:hover {
    background-color: #ffffcd; }

.Our-advantages {
  background: #f4f4f4;
  min-height: 490px; }
  .Our-advantages__big-title {
    padding-top: 81px; }
    .Our-advantages__big-title h2 {
      font-size: 20px;
      font-family: "Gotham Pro";
      color: #292929;
      font-weight: bold;
      text-transform: uppercase;
      line-height: 1.2;
      text-align: center; }

.Our-advantages__row {
  margin-top: 41px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .Our-advantages__row .Our-advantages__item {
    width: 301px;
    height: 254px;
    border: 2px solid #fff;
    cursor: pointer;
    -webkit-transition-property: background-color;
    -o-transition-property: background-color;
    transition-property: background-color;
    -webkit-transition-duration: .8s;
    -o-transition-duration: .8s;
    transition-duration: .8s; }
    .Our-advantages__row .Our-advantages__item:hover {
      background-color: #fff; }
    .Our-advantages__row .Our-advantages__item .Our-advantages__img {
      margin-top: 40px;
      margin-left: 123px;
      margin-bottom: 45px; }
  .Our-advantages__row .Our-advantages__title {
    text-align: center;
    padding-bottom: 24px; }
    .Our-advantages__row .Our-advantages__title h3 {
      font-size: 15px;
      font-family: "Gotham Pro";
      color: #292929;
      line-height: 1.2; }
  .Our-advantages__row .Our-advantages__text {
    width: 238px;
    text-align: center;
    margin-left: 30px;
    margin-bottom: 42px; }
    .Our-advantages__row .Our-advantages__text p {
      font-size: 12px;
      font-family: "Gotham Pro", sans-serif;
      color: #292929;
      line-height: 1.5; }

.Popular-goods {
  background-color: #fff;
  min-height: 590px; }

.Popular-goods__big-title {
  padding-top: 80px;
  padding-bottom: 60px; }
  .Popular-goods__big-title h2 {
    text-align: center;
    color: #292929;
    font-family: "Gotham Pro", sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase; }

.Popular-goods__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .Popular-goods__cards .Popular-goods__item {
    max-width: 220px;
    min-height: 355px;
    border: 2px solid #f6f6f6;
    background-color: #ffffff; }
    .Popular-goods__cards .Popular-goods__item .Popular-goods__img {
      margin: 20px 20px;
      cursor: pointer; }
    .Popular-goods__cards .Popular-goods__item .Popular-goods__img-stock {
      margin: 20px 20px;
      cursor: pointer;
      position: relative; }
      .Popular-goods__cards .Popular-goods__item .Popular-goods__img-stock .stock-description {
        display: none;
        width: 55px;
        height: 23px;
        background-color: #ff0000;
        color: #fff;
        font-family: "Gotham Pro", sans-serif;
        font-size: 10px;
        font-weight: 500;
        padding: 7px 8px;
        position: absolute;
        top: 18px;
        left: 17px;
        -webkit-transition: all .8s ease;
        -o-transition: all .8s ease;
        transition: all .8s ease; }
    .Popular-goods__cards .Popular-goods__item .Popular-goods__img-stock:hover .stock-description {
      display: block; }
    .Popular-goods__cards .Popular-goods__item .Popular-goods__title {
      padding-top: 22px;
      padding-left: 18px;
      padding-bottom: 24px; }
      .Popular-goods__cards .Popular-goods__item .Popular-goods__title h3 {
        color: #292929;
        font-family: "Gotham Pro", sans-serif;
        font-size: 13px;
        font-weight: 400;
        text-decoration: underline; }
    .Popular-goods__cards .Popular-goods__item .Popular-goods__text {
      text-align: center; }
      .Popular-goods__cards .Popular-goods__item .Popular-goods__text .small-cent {
        font-family: "Gotham Pro", sans-serif;
        color: #979797;
        font-size: 10px;
        font-weight: 400; }
        .Popular-goods__cards .Popular-goods__item .Popular-goods__text .small-cent span {
          padding-left: 12px;
          color: #ff0000;
          font-family: "Gotham Pro", sans-serif;
          font-size: 16px;
          font-weight: 500;
          text-decoration: none; }
      .Popular-goods__cards .Popular-goods__item .Popular-goods__text .big-cent {
        color: #000000;
        font-family: "Gotham Pro", sans-serif;
        font-size: 16px;
        font-weight: 500; }
    .Popular-goods__cards .Popular-goods__item .Popular-goods__links {
      margin-top: 25px; }
      .Popular-goods__cards .Popular-goods__item .Popular-goods__links a {
        padding: 20px 67px;
        background-color: #ffd200;
        text-decoration: none;
        color: #0d0d0d;
        font-family: "Gotham Pro", sans-serif;
        font-size: 12px;
        font-weight: 500;
        line-height: 22px;
        -webkit-transition-property: background-color;
        -o-transition-property: background-color;
        transition-property: background-color;
        -webkit-transition-duration: .8s;
        -o-transition-duration: .8s;
        transition-duration: .8s; }
      .Popular-goods__cards .Popular-goods__item .Popular-goods__links a:hover {
        background-color: #ffffcd; }

.Our-services {
  min-height: 490px;
  background-color: #f4f4f4; }
  .Our-services .Our-services__big-title {
    padding-top: 80px;
    text-align: center;
    padding-bottom: 63px; }
    .Our-services .Our-services__big-title h2 {
      color: #292929;
      font-family: "Gotham Pro", sans-serif;
      font-size: 20px;
      font-weight: 700;
      text-transform: uppercase; }
  .Our-services .Our-services__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .Our-services .Our-services__cards .Our-services__item {
      width: 300px;
      height: 253px;
      border: 2px solid #ffffff; }
      .Our-services .Our-services__cards .Our-services__item .Our-services__img {
        margin-top: 33px;
        margin-left: 40px; }
      .Our-services .Our-services__cards .Our-services__item .Our-services__links {
        text-align: center;
        padding-top: 36px; }
        .Our-services .Our-services__cards .Our-services__item .Our-services__links a {
          color: #292929;
          font-family: "Gotham Pro";
          font-size: 15px;
          font-weight: 500;
          text-decoration: underline; }
        .Our-services .Our-services__cards .Our-services__item .Our-services__links a:hover {
          text-decoration: none; }

.box-cards {
  position: relative; }
  .box-cards .box-cards__forms {
    width: 380px;
    height: 360px;
    background-color: #000;
    color: #fff;
    position: absolute;
    top: 80px;
    left: 1050px;
    padding-top: 60px;
    padding-left: 61px; }
    .box-cards .box-cards__forms .box-cards__title h2 {
      font-family: "Gotham Pro", sans-serif;
      font-size: 20px;
      font-weight: 700;
      text-transform: uppercase; }
    .box-cards .box-cards__forms .box-cards__telefone span {
      font-family: "Gotham Pro", sans-serif;
      font-size: 14px;
      font-weight: 500;
      line-height: 30px;
      text-transform: uppercase; }
    .box-cards .box-cards__forms .box-cards__location span {
      font-family: "Gotham Pro", sans-serif;
      font-size: 14px;
      font-weight: 400; }
    .box-cards .box-cards__forms .box-cards__email span {
      font-family: "Gotham Pro", sans-serif;
      font-size: 14px;
      font-weight: 400;
      text-decoration: underline; }

.footer {
  min-height: 196px;
  background-color: #292929;
  margin: 0; }
  .footer .footer-logo {
    padding-top: 45px; }
    .footer .footer-logo .footer-logo__img {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .footer .footer-logo .footer-logo__img .footer-text_logo {
        padding-top: 5px;
        padding-left: 13px;
        font-family: "Gotham Pro", sans-serif;
        font-size: 19px;
        font-weight: 700;
        line-height: 20.9px;
        text-transform: uppercase;
        color: #ffffff;
        letter-spacing: 2px; }
      .footer .footer-logo .footer-logo__img .footer-text__text {
        padding-left: 13px;
        font-family: "Gotham Pro", sans-serif;
        font-size: 10px;
        font-weight: 300;
        line-height: 20.9px;
        color: #ffffff; }
      .footer .footer-logo .footer-logo__img .footer__name {
        padding-left: 546px; }
        .footer .footer-logo .footer-logo__img .footer__name .footer__phone {
          font-family: "Gotham Pro", sans-serif;
          font-size: 18px;
          font-weight: 700;
          line-height: 22px;
          text-transform: uppercase;
          color: #ffffff; }
        .footer .footer-logo .footer-logo__img .footer__name .footer__phone_text {
          font-family: "Gotham Pro", sans-serif;
          font-size: 11px;
          font-weight: 400;
          line-height: 22px;
          color: #ffffff; }
    .footer .footer-logo .footer__bottom {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .footer .footer-logo .footer__bottom .footer__links {
        padding-top: 30px;
        padding-right: 15px; }
        .footer .footer-logo .footer__bottom .footer__links a {
          font-family: "Gotham Pro", sans-serif;
          font-size: 12px;
          font-weight: 500;
          line-height: 22px;
          color: #ffffff;
          text-decoration: none;
          padding: 15px 23px;
          border: 2px solid #fff;
          -webkit-transition-property: background-color;
          -o-transition-property: background-color;
          transition-property: background-color;
          -webkit-transition-duration: .8s;
          -o-transition-duration: .8s;
          transition-duration: .8s; }
        .footer .footer-logo .footer__bottom .footer__links a:hover {
          color: #000;
          background-color: #fff; }
      .footer .footer-logo .footer__bottom .footer-text__copyricht {
        padding-top: 55px;
        font-family: "Gotham Pro", sans-serif;
        font-size: 12px;
        font-weight: 400;
        line-height: 22px;
        color: #ffffff; }
